apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: gym
spec:
  selector:
    app: gym-backend
  ports:
    - name: http
      port: 8000
      targetPort: 8000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: gym
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gym-backend
  template:
    metadata:
      labels:
        app: gym-backend
    spec:
      containers:
        - name: backend
          image: ghcr.io/alexmachulsky/gym-app-backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
              name: http
          env:
            - name: DATABASE_URL
              valueFrom:
                configMapKeyRef:
                  name: gym-config
                  key: DATABASE_URL
            - name: ACCESS_TOKEN_EXPIRE_MINUTES
              valueFrom:
                configMapKeyRef:
                  name: gym-config
                  key: ACCESS_TOKEN_EXPIRE_MINUTES
            - name: LOG_LEVEL
              valueFrom:
                configMapKeyRef:
                  name: gym-config
                  key: LOG_LEVEL
            - name: FRONTEND_ORIGINS
              valueFrom:
                configMapKeyRef:
                  name: gym-config
                  key: FRONTEND_ORIGINS
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: gym-secrets
                  key: SECRET_KEY
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 20
            periodSeconds: 10
          resources:
            requests:
              cpu: 150m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
